<footer
    class="flex flex-col justify-around items-center sm:flex-row text-Primary border-t-4 sm:flex sm:justify-between py-5 pb-2"
>
    <a class="sm:pl-20" href="index.html"
        ><img
            class="sm:object-scale-down w-24 h-24"
            href="index.html"
            src="assets/images/logo.webp"
            alt="Logo"
    /></a>

    <ul class="sm:pr-20">
        <li
            class="m-6 text-Primary font-textfont text-xl font-bold hover:text-Secondary sm:inline-block"
        >
            <a href="index.html">Inicio</a>
        </li>
        <li
            class="m-6 text-Primary font-textfont text-xl font-bold hover:text-Secondary sm:inline-block"
        >
            <a href="miembros.html">Miembros</a>
        </li>
        <li
            class="m-6 text-Primary font-textfont text-xl font-bold hover:text-Secondary sm:inline-block"
        >
            <a href="">La Banda</a>
        </li>
        <li
            class="m-6 text-Primary font-textfont text-xl font-bold hover:text-Secondary sm:inline-block"
        >
            <a href="">Galería</a>
        </li>
    </ul>

    <div class="sm:pr-20 text-Secondary text-3xl">
        <a href="https://www.facebook.com/">
            <i class="fa-brands fa-facebook-f pr-10"></i>
        </a>
        <a href="https://www.instagram.com/">
            <i class="fa-brands fa-instagram pr-10"></i>
        </a>
        <a href="https://twitter.com/">
            <i class="fa-brands fa-twitter pr-10"></i>
        </a>
    </div>
</footer>
