<nav
    class="flex pt-1 pb-1 justify-around text-Primary border-b-4 sm:justify-between sm:py-5 sm:pb-2"
>
    <a class="sm:pl-20" href="index.html"
        ><img
            class="mt-10 sm:mt-0 sm:object-scale-down w-24 h-24"
            href="index.html"
            src="assets/images/logo.webp"
            alt="Logo"
    /></a>
    <ul class="sm:pr-20">
        <li class="li-nav"><a href="miembros.html">Miembros</a></li>
        <li class="li-nav"><a href="">La Banda</a></li>
        <li class="li-nav"><a href="">Galería</a></li>
    </ul>
</nav>
